@page
@model BarPos.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">+ Nuevo Producto</a>

</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio Compra</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaProductos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>₡@item.PrecioCompra</td>
                <td>@item.Stock</td>
                <td>@item.Categoria?.Nombre</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>